<div layout="column" ng-cloak>
    <div class="md-toolbar-tools">
    </div>
</div>
<div>
    <md-input-container style="margin-right: 10px;" flex-50>
        <label>
            City
        </label>
        <md-select ng-model="vm.selectedCityId"
            ng-change="vm.getCityWeather()"
            md-on-close="vm.clearSearchTerm()">
                <md-select-header class="demo-select-header">
                    <input ng-model="vm.searchTerm"
                        type="search"
                        placeholder="Search"
                        class="demo-header-searchbox _md-text"/>
                </md-select-header>
            <md-option
                ng-repeat="city in vm.cityList |filter:vm.searchTerm"
                ng-value="city.id">
                {{city.city}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<pre>{{vm.formData | json}}</pre>
<md-content class="md-padding">
    <md-card md-theme="" md-theme-watch="">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{vm.formData.currentCity}}</span>
                <span class="md-subhead">{{vm.formData.currentCountry}}</span>
            </md-card-title-text>
            <md-card-title-media>
             <div class="md-media-lg card-media">
                 <img src="{{vm.formData.currentCondIcon}}">
             </div>
            </md-card-title-media>
            <div>{{vm.formData.currentCondText}}</div>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
    </md-card>
</md-content>
